.helloSection {
	margin-top: 80px;
	&__desc {
		color: var(--grey60);
		font-size: 18px;
		line-height: 150%;
		margin-bottom: 80px;
	}
}
.cardsTextLogoSection {
	display: flex;
	padding: 20px;
	margin-bottom: var(--sectionPadding);
	gap: 20px;
	border-top: 15px solid var(--grey10);
	border-bottom: 15px solid var(--grey10);
}

.formSection {
	&__top {
		p {
			color: var(--grey60);
			font-size: 18px;
			line-height: 150%;
			margin-bottom: 80px;
		}
	}
	form {
		border-radius: 12px;
		padding: 100px;
		border: 1px solid var(--grey15);
		display: flex;
		gap: 50px;
		flex-wrap: wrap;
		.inputWrapp {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		.inputWrapp,
		.inputWrapp > input {
			flex: calc(25% - 50px);
		}
		.inputWrappArea,
		.inputWrappArea > textarea {
			flex: 100%;
			min-height: 170px;
		}
		.inputWrappFull,
		.inputWrappFull > input {
			flex: 100%;
		}
		.acceptWrapp {
			display: flex;
			padding: 25px 0px;
			align-items: center;
			padding-bottom: 30px;
			.checkbox {
				margin-right: 10px;
				width: 28px;
				height: 28px;
				background: var(--grey15);
				border-radius: 4px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--purple60);
				font-size: 23px;
				cursor: pointer;
			}

			p {
				color: var(--grey60);
			}
		}
	}
	&__bottomWrapp {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}
