:root {
	--grey08: #141414;
	--grey10: #1a1a1a;
	--grey15: #262626;
	--grey60: #999999;
	--black: #000;

	--purple60: #703bf7;
	--purple70: #946cf9;

	--white: #ffffff;

	--sectionPadding: 100px;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background: var(--grey08);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--white);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
	padding: 0px 20px;
}

.h2 {
	font-size: 48px;
	color: var(--white);
	font-weight: 600;
}
.buttonLink {
	width: fit-content;
	background: var(--grey10);
	padding: 18px 24px;
	font-size: 18px;
	border-radius: 10px;
	height: fit-content;
}
a {
	color: inherit;
	text-decoration: none;
	line-height: normal;
}
img {
	object-fit: cover;
}
button {
	outline: none;
	border: none;
	transition: 0.3s;
}
.btn {
	border-radius: 10px;
	border: 1px solid var(--grey15);
	color: white;
	padding: 18px 24px;
	background: transparent;
	font-size: 18px;
	cursor: pointer;
}
.btn:hover {
	background: var(--grey10);
}

.btn-purple {
	border-radius: 10px;
	padding: 18px 24px;
	color: white;
	font-size: 18px;
	background: var(--purple60);
	cursor: pointer;
}
.btn-purple:hover {
	background: var(--purple70);
}
