.heroSection {
	margin-top: 60px;
	display: flex;
	height: calc(100vh - 151px);
	gap: 80px;
	.left {
		width: 50%;
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		gap: 60px;
	}
	.right {
		position: relative;
		width: 50%;
		img {
			position: absolute;
			bottom: 0px;
			width: 100%;
		}
	}
	&__mainText {
		display: flex;
		flex-direction: column;
		gap: 24px;
		h1 {
			font-size: 60px;
			font-weight: 600;
		}
		p {
			font-size: 18px;
			font-weight: medium;
			color: var(--grey60);
		}
	}
	&__btns {
		display: flex;
		gap: 20px;
	}
	&__stat {
		display: flex;
		gap: 20px;
		&Block {
			width: 33%;
			background: var(--grey10);
			border-radius: 12px;
			padding: 16px 24px;
			display: flex;
			flex-direction: column;
			gap: 2px;
			h2 {
				font-size: 40px;
			}
			p {
				font-size: 18px;
				color: var(--grey60);
			}
		}
	}
}
.cardsTextLogoSection {
	display: flex;
	padding: 20px;
	gap: 20px;
	border-top: 15px solid var(--grey10);
	border-bottom: 15px solid var(--grey10);
}

.recSection {
	padding-top: var(--sectionPadding);
	width: 100%;
	&__top {
		padding-bottom: 80px;
		h2 {
			padding-bottom: 14px;
		}
		p {
			display: flex;
			gap: 20px;
			justify-content: space-between;
			align-items: flex-end;
			span {
				line-height: 150%;
				display: block;
				color: var(--grey60);
				font-size: 18px;
				max-width: 1127px;
			}
			a {
				text-wrap: nowrap;
				display: block;
			}
		}
	}
}
