.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 91px);
	&Text {
		color: var(--purple60);
		text-align: center;
		font-size: 100px;
		font-weight: bold;
		p {
			text-transform: uppercase;
			font-size: 30px;
		}
	}
}
