/* [next]/internal/font/google/inter_8360e7d.module.css [app-client] (css) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/2c55a0e60120577a-s.2a48534a.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/9c72aa0f40e4eef8-s.18a48cbc.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/ad66f9afd8947f86-s.7a40eb73.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/5476f68d60460930-s.c995e352.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/2bbe8d2671613f1f-s.76dcb0b2.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/1bffadaabf893a1e-s.7cd81963.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/83afe278b6a6bb3c-s.p.3a6ba036.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Inter Fallback;
  src: local(Arial);
  ascent-override: 90.44%;
  descent-override: 22.52%;
  line-gap-override: 0.0%;
  size-adjust: 107.12%;
}

.inter_8360e7d-module__vhbcXq__className {
  font-family: Inter, Inter Fallback;
  font-style: normal;
}

.inter_8360e7d-module__vhbcXq__variable {
  --font-geist-sans: "Inter", "Inter Fallback";
}

/* [project]/src/app/globals.css [app-client] (css) */
:root {
  --grey08: #141414;
  --grey10: #1a1a1a;
  --grey15: #262626;
  --grey60: #999;
  --black: #000;
  --purple60: #703bf7;
  --purple70: #946cf9;
  --white: #fff;
  --sectionPadding: 150px;
}

html, body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--grey08);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.h2 {
  color: var(--white);
  font-size: 48px;
  font-weight: 600;
}

.h4 {
  font-size: 24px;
  font-weight: 600;
}

.buttonLink {
  background: var(--grey10);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 18px 24px;
  font-size: 18px;
}

a {
  color: inherit;
  line-height: normal;
  text-decoration: none;
}

img {
  object-fit: cover;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  transition: all .3s;
}

.btn {
  border: 1px solid var(--grey15);
  color: #fff;
  cursor: pointer;
  background: none;
  border-radius: 10px;
  padding: 18px 24px;
  font-size: 18px;
}

.btn:hover {
  background: var(--grey10);
}

.btn-purple {
  color: #fff;
  background: var(--purple60);
  cursor: pointer;
  border-radius: 10px;
  padding: 18px 24px;
  font-size: 18px;
}

.btn-purple:hover {
  background: var(--purple70);
}

/* [project]/src/components/header/header.module.scss.module.css [app-client] (css) */
.header-module-scss-module__ME5lHG__header {
  background: var(--grey10);
  color: var(--white);
  padding: 20px 0;
}

.header-module-scss-module__ME5lHG__header .header-module-scss-module__ME5lHG__logo {
  align-items: center;
  display: flex;
}

.header-module-scss-module__ME5lHG__header__container {
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  display: flex;
}

.header-module-scss-module__ME5lHG__header__container a {
  transition: all .3s;
}

.header-module-scss-module__ME5lHG__header__container a.header-module-scss-module__ME5lHG__active {
  background: var(--grey08);
  border: 1px solid var(--grey15);
  border-radius: 10px;
  padding: 14px 24px;
}

.header-module-scss-module__ME5lHG__header__container a.header-module-scss-module__ME5lHG__activeBtn {
  background: var(--purple60);
}

.header-module-scss-module__ME5lHG__header__container nav a:not(.header-module-scss-module__ME5lHG__active):hover {
  color: var(--purple60);
}

.header-module-scss-module__ME5lHG__header__container nav {
  align-items: center;
  gap: 30px;
  display: flex;
}

.header-module-scss-module__ME5lHG__header__container .header-module-scss-module__ME5lHG__buttonLink:hover {
  background: var(--grey10);
}

/* [project]/src/components/footer/footer.module.scss.module.css [app-client] (css) */
.footer-module-scss-module__BKh3Zq__footer {
  margin-top: var(--sectionPadding);
  background: var(--grey10);
  width: 100%;
  padding: 100px 0;
}

.footer-module-scss-module__BKh3Zq__footer > div {
  justify-content: space-between;
  gap: 50px;
  display: flex;
}

.footer-module-scss-module__BKh3Zq__footer > div .footer-module-scss-module__BKh3Zq__linksWrapp {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px 20px;
  width: 100%;
  max-width: 978px;
  display: flex;
}

.footer-module-scss-module__BKh3Zq__footer > div .footer-module-scss-module__BKh3Zq__linksWrapp .footer-module-scss-module__BKh3Zq__page {
  color: var(--grey60);
  margin-bottom: 30px;
  font-size: 20px;
  display: block;
}

.footer-module-scss-module__BKh3Zq__footer > div .footer-module-scss-module__BKh3Zq__linksWrapp ul {
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  display: flex;
}

.footer-module-scss-module__BKh3Zq__footer > div .footer-module-scss-module__BKh3Zq__linksWrapp a:hover {
  color: var(--purple60);
  transition: all .3s;
}

.footer-module-scss-module__BKh3Zq__footer form {
  min-width: 423px;
  margin-top: 30px;
  position: relative;
}

.footer-module-scss-module__BKh3Zq__footer form input {
  background-image: url("/icons/email.svg");
  background-position: 24px calc(50% - 2px);
  background-repeat: no-repeat;
  background-color: var(--grey08);
  color: #fff;
  border: 1px solid var(--grey15);
  border-radius: 12px;
  width: 100%;
  padding: 18px 24px 18px 60px;
  font-size: 18px;
}

.footer-module-scss-module__BKh3Zq__footer form input:focus {
  outline: none;
}

.footer-module-scss-module__BKh3Zq__footer form button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: calc(50% + 2px);
  right: 24px;
  transform: translateY(-50%);
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__3e9a1459._.css.map*/