.header {
	background: var(--grey10);
	padding: 20px 0px;
	color: var(--white);
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
		a {
			transition: 0.3s;
		}
		a.active {
			padding: 14px 24px;
			background: var(--grey08);
			border: 1px solid var(--grey15);
			border-radius: 10px;
		}
		nav {
			a:not(.active):hover {
				color: var(--purple60);
			}
			display: flex;
			gap: 30px;
			align-items: center;
		}
		.buttonLink:hover {
			background: var(--grey10);
		}
	}
}
