.heroSection {
	padding: 0px;
	padding-top: 60px;
	background: linear-gradient(30deg, var(--grey08) 40%, #703bf750 100%);
	> div {
		display: flex;
		height: calc(100vh - 151px);
		gap: 80px;
	}
	.left {
		width: 50%;
		padding-top: 100px;
		display: flex;
		flex-direction: column;
		gap: 60px;
	}
		img {
			position: relative;
			bottom: 0px;
			width: 50%;
			height: 100%;
		}
	&__mainText {
		display: flex;
		flex-direction: column;
		gap: 24px;
		h1 {
			font-size: 60px;
			font-weight: 600;
		}
		p {
			font-size: 18px;
			font-weight: medium;
			color: var(--grey60);
		}
	}
	&__btns {
		display: flex;
		gap: 20px;
		text-align: center;
	}
	&__stat {
		display: flex;
		gap: 20px;
		&Block {
			width: 33%;
			background: var(--grey10);
			border-radius: 12px;
			padding: 16px 24px;
			display: flex;
			flex-direction: column;
			gap: 2px;
			h2 {
				font-size: 40px;
			}
			p {
				font-size: 18px;
				color: var(--grey60);
			}
		}
	}
}
.cardsTextLogoSection {
	display: flex;
	padding: 20px;
	margin-bottom: var(--sectionPadding);
	gap: 20px;
	border-top: 15px solid var(--grey10);
	border-bottom: 15px solid var(--grey10);
}

.swiperSection {
	width: 100%;
	&__top {
		padding-bottom: 80px;
		h2 {
			padding-bottom: 14px;
		}
		p {
			display: flex;
			gap: 20px;
			justify-content: space-between;
			align-items: flex-end;
			span {
				line-height: 150%;
				display: block;
				color: var(--grey60);
				font-size: 18px;
				max-width: 1127px;
			}
			a {
				text-wrap: nowrap;
				display: block;
			}
		}
	}
}

@media (max-width:1440px) {
	.heroSection {
		margin-bottom: 60px;
		height:fit-content;
		background: transparent;
		>div{
			gap: 60px;
			height: fit-content;
			flex-direction: column-reverse;
		}
		.left{
			padding-top: 0px;
			width: 100%;
		}
		img{
			height: auto;
			width: 100%;
			background: linear-gradient(30deg, var(--grey08) 40%, #703bf750 100%);
			border: 1px solid var(--grey15);
			padding: 20px 10% 0px 10%;
			border-radius: 20px;
		}
	}
}
@media (max-width:1024px) {
	.cardsTextLogoSection{
		flex-wrap: wrap;
	}
	.swiperSection{
		&__top{
			padding-bottom: 50px;
			p{
				flex-direction: column;
				align-items: flex-start;
			}
			
		}
	}
}
@media (max-width:768px) {
	.heroSection {
		margin-top: 60px;
		padding: 0px;
		height: auto;
		&__mainText{
			h1{
				font-size: 40px;
			}
		}
		> div {
			height: auto;
			gap: 40px;
		}
		.left{
			padding-top: 0px;
			gap: 40px;
		}
		&__stat{
			padding-bottom: 0px;
			// flex-direction: column;
		}
	}
}
@media (max-width:576px) {
	.heroSection{
		&__mainText{
			h1{
				font-size: 40px;
			}
			p{
				font-size: 16px;
			}
		}
		> div {
			height: auto;
			gap: 20px;
		}
		.left{
			gap: 20px;
		}
		&__stat{
			flex-direction: column;
			padding-bottom: 0px;
			&Block{
				width: 100%;
				flex-direction: row;
				align-items: center;
				gap: 20px;
			}
		}
		&__btns {
			display: flex;
			gap: 10px;
		}
	}

}
@media (max-width:400px) {
	.heroSection{
		&__mainText{

			h1{
				font-size: 35px;
			}
		}
		&__btns {
			display: flex;
			gap: 10px;
			flex-direction: column;
		}
		&__stat{
			&Block{
				flex-direction: column;
				gap: 2px;
				width: 100%;
			}
		}
	}
}