.top {
	padding-top: 100px;
	display: flex;
	gap: 20px;
	.address {
		padding: 10px;
		border: 1px solid var(--grey15);
		border-radius: 8px;
		display: flex;
		align-items: center;
		gap: 6px;
		img {
			width: 24px;
			height: 24px;
			object-fit: contain;
		}
	}
	.price {
		margin-left: auto;
		p {
			font-size: 18px;
			color: var(--grey60);
			padding-bottom: 2px;
		}
		span {
			font-size: 24px;
		}
	}
}
.imgSliderSection {
	background: var(--grey10);
	padding: 50px;
	border-radius: 12px;
	margin-bottom: 30px;
	margin-top: 50px;
	img {
		width: 100%;
		height: 500px;
		object-fit: cover;
		border-radius: 10px;
	}
	.noImage {
		filter: brightness(0.3);
	}
}
.descSection {
	border-radius: 12px;
	padding: 50px;
	border: 1px solid var(--grey15);
	p {
		font-size: 18px;
		color: var(--grey60);
		padding-top: 14px;
		padding-bottom: 50px;
	}
	&__options {
		padding-top: 20px;
		display: flex;
		border-top: 1px solid var(--grey15);
	}
	&__option {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 33.33%;
		padding: 0px 20px 20px 20px;
		border-left: 1px solid var(--grey15);
		border-right: 1px solid var(--grey15);
		span {
			font-size: 24px;
		}
		& > div {
			display: flex;
			align-items: center;
			gap: 6px;
		}
	}
}
