.header {
	background: var(--grey10);
	padding: 20px 0px;
	color: var(--white);
	.logo {
		display: flex;
		align-items: center;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
		a {
			transition: 0.3s;
		}
		a.active {
			padding: 14px 24px;
			background: var(--grey08);
			border: 1px solid var(--grey15);
			border-radius: 10px;
		}
		a.activeBtn {
			background: var(--purple60);
		}
		nav{
			a:not(.active):hover {
				color: var(--purple60);
			}
			display: flex;
			gap: 30px;
			align-items: center;
		}
		.buttonLink.mob{
			display: none;
		}
		.buttonLink:hover {
			background: var(--grey10);
		}
		.active.buttonLink:hover{
			background: var(--purple60);
		}
	}
}
.mobileMenuButton {
  display: none;
  background: none;
  border: none;
  color: var(--white);
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
}

@media (max-width:768px) {
	.mobileMenuButton {
    	display: block;
  	}
	.header{
		position: relative;
		&__container{
			nav {
				display: none;
				&.active{
					z-index: 4;
					width: 100%;
					background: var(--grey10);
					display: flex;
					flex-direction: column;
					padding: 20px 0px;
					position: absolute;
					bottom: 0;
					left: 0;
					transform: translateY(100%);
				}
			}
			.buttonLink{
				display: none;
				&.activeMob{
					display: flex;
				}
				&.activeMob.active{
					background: var(--grey10);
				}
			}
		}
	}
}